apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: redis
  namespace: {{ .ProjectName }}
  labels:
    app: redis
    app.kubernetes.io/part-of: {{ .ProjectName }}
spec:
  selector:
    matchLabels:
      app: redis
  endpoints:
    - port: metrics
      interval: 15s
      path: /metrics
