apiVersion: v1
kind: Service
metadata:
  name: otel-collector
  namespace: {{ .ProjectName }}
  labels:
    app: otel-collector
    app.kubernetes.io/part-of: {{ .ProjectName }}
spec:
  type: NodePort
  selector:
    app: otel-collector
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
      nodePort: 34317
    - name: otlp-http
      port: 4318
      targetPort: 4318
      nodePort: 34318
