apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jaeger-badger-data
  namespace: {{ .ProjectName }}
  labels:
    app: jaeger
    app.kubernetes.io/part-of: {{ .ProjectName }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
